# Use the direnv standard library to check for commands
if ! command -v micromamba >/dev/null; then
  echo "direnv: 'micromamba' command not found."
  echo "Please install it first. See: https://mamba.readthedocs.io/en/latest/installation/micromamba-installation.html"
  exit 1
fi

# Run the hook function
eval "$(micromamba shell hook)"

# Read the environment name directly from the YAML file.
# This avoids having the name in two places.
MM_ENV_NAME=$(grep 'name:' environment.yml | cut -d ' ' -f 2)

# Check if the environment already exists.
if micromamba env list | awk '{print $1}' | grep -q "^${MM_ENV_NAME}$"; then
  # Activate the environment.
  eval "$(micromamba shell activate "${MM_ENV_NAME}")"
else
  # Otherwise, prompt to create it from the environment.yml file.
  echo "direnv: Micromamba environment '${MM_ENV_NAME}' not found."
  echo "direnv: Please run the following command to create the environment:"
  echo "micromamba create -y -f environment.yml"
fi
